.menu-container {
    width: 255px;
    height: 300px;
    display: flex;
    margin-right: 3%;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    border-radius: 5px;
    padding: 0 0 16px 0;
    z-index: 10;
    right: 0;
    top: 56px;
    color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background: #2c2c2c;
}

.menu-container::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 8px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-top: -8px;
    right: 13%;
    background: #2c2c2c;
}

.user-email {
    padding: 16px;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.user-email-content {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.user-email span {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    margin-right: 8px;
    background: rgb(0, 240, 0);
}

.user-email span p {
    font-size: 1.1rem;
    margin-top: 6px
}

.menu-container button {
    height: 100px;
    display: flex;
    cursor: pointer;
    padding: 0 0 0 16px;
    align-items: center;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    background: none;
}

.menu-container button span {
    margin-right: 8px;
}
.menu-container button:hover {
    background: #1f1e1e;
    text-decoration: none;
}

.line {
    height: 24px;
    display: flex;
    align-items: center;
}

.line hr {
    width: 100%;
    opacity: .1;
    background: none;
}

.menu-button-container button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}