* {
    font-family: Helvetica, Arial, sans-serif;
}

.logo-container {
    width: 100vw;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    border-bottom: 1px solid rgb(217, 218, 220);
}

.form-group {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-container-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.total-container-login p {
    font-size: 1.40rem;
    margin-top: -32px;
    font-weight: bold;
}

.form-content {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(217, 218, 220);
    border-bottom: 1px solid rgb(187, 187, 187);
}

.formWarning {
    color: var(--cancel);
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mail-container, 
.pass-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mail-container label, 
.pass-container label {
    width: 45px;
    font-size: 1.40rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.inputs-container input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding: 14px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #969696;
    outline: none;
    position: relative;
    background: none;
}

.inputs-container input:hover {
    border: 1px solid #333333;
}

.inputs-container input:focus {
    border: 1px solid #333333;
}

.mail-container + .pass-container {
    margin-top: 24px;
}

.submit-container {
    width: 100%;
    margin-top: 16px;
}

.forgot-pass {
    width: 145px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.40rem;
    font-weight: 700;
    color: inherit;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
}

.check-container input {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    appearance: none;
    outline: none;
    border-radius: 4px;
    margin-right: 10px;
    background: #ccc;
}

.check-container input::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 8px;
    top: 1px;
    transition: all .3s;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: rotate(45deg);
    opacity: 0;
}

.check-container input:checked:before {
    opacity: 1;
}

.check-container input:checked  {
    background: var(--primary);
}

.enter-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter-content button {
    width: 131px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background .3s;
    background: var(--primary);
}

.enter-content button:hover {
    background: var(--primary-hover)
}

.signup-container {
    width: 35rem;
    margin-top: 32px;
    display: flex;
    bottom: 8px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 32px 0;
}

.signup-container a {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    opacity: .7;
    border-radius: 8px;
    margin-top: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
    text-decoration: none;
    color: #000000;
    background: none;
}

.signup-container a:hover {
    background: var(--primary);
    opacity: 1;
    border: none;
}

@media (max-width: 500px) {
    .form-content, .signup-container{
        width: 350px;
    }   
}

@media (max-width: 375px) {
    .form-content, .signup-container{
        width: 300px;
    }   
}
/* 
@media (min-height: 896px) {
    .signup-container {
        margin-bottom: 64px;
    }  
}

@media (min-height: 844px) {
    .signup-container {
        margin-bottom: 80px;
    }  
}

@media (min-height: 1180px) {
    .signup-container {
        margin-bottom: 192px;
    }  
} */